# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true
max_line_length = 100


# Unix-style newlines with a newline ending every file
[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

[*.md]
trim_trailing_whitespace = false


# 2 space indentation
[*.{yml,yaml,css,html}]
indent_size = 2


[*.py]
indent_style = space
indent_size = 4

# Tab indentation (no size specified)
[Makefile]
indent_style = tab
tab_width = 4

