.DS_Store
*.pyc
*.pyo
*.egg-info/
dist/
build/
docs/_build/
.tox/
.idea/
.pytest_cache/
.mypy_cache/
htmlcov/
.coverage
.coverage.*
.vscode/
env/
venv/
.venv/
.pdm.toml
pytest-plugin-work
old
examples/two/